#version=RHEL8
#
# Find "CHANGEME" in these example configuration lines for some suggested
# things to include with a default setup.

# X Window System configuration information
xconfig  --startxonboot

# License agreement
eula --agreed

# Use the graphical installer
graphical

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

# System services
services --enabled="chronyd"

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# System timezone
timezone America/Los_Angeles --isUtc

# Network settings
network --device=link --activate --onboot=yes --bootproto=dhcp --noipv6

# Root password
# Use this pythong command to encrypt your password:
# python -c 'import crypt,getpass;pw=getpass.getpass();print(crypt.crypt(pw) if (pw==getpass.getpass("Confirm: ")) else exit())'
rootpw --iscrypted CHANGEME

# Admin User
# (Don't use an obvious username, like "admin." Any step you can take to make
# a black hat hacker's job harder is a good step.)
user --groups=wheel --name=athlete --password=CHANGEME --iscrypted --gecos="Admin User"


# Partition clearing information
ignoredisk --only-use=sda
clearpart --all --initlabel --drives=sda

# Disk partitioning information
part pv.01 --fstype="lvmpv" --ondisk=sda
part /boot --fstype="ext4" --ondisk=sda --size=2048
part swap --fstype="swap" --ondisk=sda --size=16384

volgroup vgRoot --pesize=4096 pv.01
logvol /              --fstype="xfs" --size=8192  --name=root        --vgname=vgRoot
logvol /home          --fstype="xfs" --size=16384 --name=home        --vgname=vgRoot
logvol /opt           --fstype="xfs" --size=8192  --name=opt         --vgname=vgRoot
logvol /tmp           --fstype="xfs" --size=8192  --name=tmp         --vgname=vgRoot
logvol /usr           --fstype="xfs" --size=8192  --name=usr         --vgname=vgRoot
logvol /var           --fstype="xfs" --size=8192  --name=var         --vgname=vgRoot
logvol /var/log       --fstype="xfs" --size=16384 --name=varLog      --vgname=vgRoot
logvol /var/log/audit --fstype="xfs" --size=16384 --name=varLogAudit --vgname=vgRoot

repo --name="appstream" --mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=AppStream&infra=$infra
repo --name="baseos" --mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=BaseOS&infra=$infra
repo --name="EPEL" --install --metalink=https://mirrors.fedoraproject.org/metalink?repo=epel-$releasever&arch=$basearch&infra=$infra&content=$contentdir


%packages
@^graphical-server-environment
@container-management
@debugging
@development
@graphical-admin-tools
@headless-management
@legacy-unix
@network-file-system-client
@performance
@remote-desktop-clients
@remote-system-management
@rpm-development-tools
@scientific
@security-tools
@system-tools
@web-server
kexec-tools
epel-release-latest
tree
glances
htop
syslinux


%end

%addon ADDON_placeholder --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
