#version=RHEL8
#
# See
# https://docs.centos.org/en-US/8-docs/advanced-install/assembly_kickstart-commands-and-options-reference/
# for the command reference.
#
# Find "CHANGEME" in this file for items that require customization
# before you can use this for a kickstart configuration.
#

# X Window System configuration information
xconfig  --startxonboot

# License agreement
eula --agreed

# Use the graphical installer
graphical

# Use a URL for installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

# System services
services --enabled="chronyd"

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# System timezone
timezone America/Los_Angeles --isUtc

# Network configuration
%include http://int.example.com/kickstart/hostname/network.cfg

# Users
%include http://int.example.com/kickstart/hostname/users.cfg

# Disks and partitions
%include http://int.example.com/kickstart/hostname/partitions.cfg
%include http://int.example.com/kickstart/logvol.cfg

# Repositories
%include http://int.example.com/kickstart/repos.cfg

# Packages
%packages
%include http://int.example.com/kickstart/packages.cfg
%include http://int.example.com/kickstart/hostname/packages.cfg
%end

#%post --nochroot
#%include http://int.example.com/kickstart/post-no-chroot.cfg
#%end

#%post --log=/root/ks-post.log
#%include http://int.example.com/kickstart/post.sh
#%end

%anaconda
%include http://int.example.com/kickstart/anaconda.cfg
%end

